---
import { twMerge } from 'tailwind-merge'
import HeaderLink from './HeaderLink.astro'
import LinkButton from './LinkButton.astro'

import Behance from '../../public/social/behance.svg'
import Email from '../../public/social/email.svg'
import Instagram from '../../public/social/instagram.svg'
import Linkedin from '../../public/social/linkedin.svg'
---

<footer
  class={twMerge(
    'text-base-white box-border px-[10%] py-12 bg-neutral-900',
    Astro.props.class,
  )}
  {...Astro.props}
>
  <div class="flex flex-col gap-14">
    <div class="flex items-start justify-between">
      <div class="flex flex-col gap-6">
        <div class="flex flex-col">
          <a class="text-2xl/9 text-white font-medium" href="#">
            Bruna Moraes
          </a>
          <span class="text-base text-neutral-400 font-medium"
            >Product designer</span
          >
        </div>
        <div class="flex items-center">
          <div class="w-10 h-10 bg-primary rounded-lg flex p-2">
            <img src={Email.src} alt="Email" />
          </div>
          <div class="h-4 w-px bg-neutral-600 mx-3"></div>
          <div class="w-10 h-10 bg-primary rounded-lg flex p-2">
            <img src={Behance.src} alt="Behance" />
          </div>
          <div class="h-4 w-px bg-neutral-600 mx-3"></div>
          <div class="w-10 h-10 bg-primary rounded-lg flex p-2">
            <img src={Linkedin.src} alt="Linkedin" />
          </div>
          <div class="h-4 w-px bg-neutral-600 mx-3"></div>
          <div class="w-10 h-10 bg-primary rounded-lg flex p-2">
            <img src={Instagram.src} alt="Instagram" />
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-6 items-end">
        <span class="text-base/5 text-base-white font-semibold px-2">Menu</span>
        <nav class="flex items-center">
          <HeaderLink href="#" title="Sobre" />
          <HeaderLink href="#projects" title="Projetos" />
          <HeaderLink href="#contact" title="Contato" />
        </nav>
      </div>
    </div>

    <div class="flex justify-between items-center">
      <span class="text-base text-neutral-200 font-normal"
        >© 2024 Bruna Moraes. Todos os direitos reservados</span
      >

      <div class="flex gap-8 items-center">
        <span class="text-xs text-neutral-200 font-normal"
          >Desenvolvido por <b class="font-bold">Euller Braz</b></span
        >
        <LinkButton href="#" title="Voltar ao topo" showTrailingIcon={true} />
      </div>
    </div>
  </div>
</footer>
